<h5 class="clear-fix">
    <!-- change widget location -->
    <a href="" title="change widget location" class="adf-move" ng-if="editMode">
        <i class="fa fa-arrows"></i>
    </a>
  <span class="pull-right">
    <a href="" title="reload widget content" ng-if="widget.reload" ng-click="reload()">
      <i class="fa fa-refresh"></i>
    </a>
    <!-- collapse -->
    <a href="" title="collapse widget" ng-show="options.collapsible && !widgetState.isCollapsed" ng-click="widgetState.isCollapsed = !widgetState.isCollapsed">
      <i class="fa fa-minus"></i>
    </a>
    <!-- expand -->
    <a href="" title="expand widget" ng-show="options.collapsible && widgetState.isCollapsed" ng-click="widgetState.isCollapsed = !widgetState.isCollapsed">
      <i class="fa fa-plus"></i>
    </a>
    <a href="" title="fullscreen widget" ng-click="openFullScreen()" ng-show="options.maximizable">
     <i class="fa fa-arrows-alt"></i>
    </a>
    <!-- remove widget -->
    <a href="" title="remove widget" ng-click="close()" ng-if="editMode">
      <i class="fa fa-close"></i>
    </a>
  </span>
</h5>
